<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.0/vue.js"
      integrity="sha512-4EMifNzsGH/ixIeXTy7stkY1hrlVrYfOXlBBG0sGkCtVzHoCsyVxfXkzILZAMs/TI6MBrfDDK9YYWmhaG6BF2A=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="title">
            <div class="input">
              <select v-model="input.type">
                <option :value="null">請選擇</option>
                <option v-for="item in typeList.sort">{{item}}</option>
              </select>
              <select v-model="input.title">
                <option :value="null">請選擇</option>
                <option v-for="item in titleList.sort">{{item}}</option>
              </select>
            </div>
            <div class="description">
              <div class="menuItem white" v-if="content">
                <span class="number">{{content.index+1}}</span
                ><a :href="content.link" class="title" target="vue-iron"
                  >{{content.link}}</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="./js/day8.js"></script>
  </body>
</html>
